
<div class="navbar-inner" ng-controller="HeaderController">

    <ul class="navbar-vertical" data-ng-show="global.authenticated">
      <!--li>
        <a class="icon-button" href="/signout" title="Sign out"><i class="icon-signout"></i></a>
      </li-->
      <li>
        <a class="icon-button" href="/pray" title="Pray now"><i class="icon-play-sign"></i></a>
      </li>
    </ul>

  <!-- Collect the nav links, forms, and other content for toggling 
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
            <a href="#!/{{item.link}}" class="{{item.class}}">{{item.title}}</a>
        </li>
    </ul>d
  </div> /.navbar-collapse -->
</div>