extends ../layouts/default

block content
  
  h2 #{title}
  br

  .row
    .col-md-6
      if (typeof errors !== 'undefined'  && errors.length > 0)
        .fade.in.alert.alert-danger.alert-dismissable
          button.close(type="button", aria-hidden="true", data-dismiss="alert")
            &times;
          ul
            each error in errors
              li= error.type
                span #{error.message}


  - var facebookAuthUrl = '/auth/facebook/'
  if user && user.phone
    - facebookAuthUrl = facebookAuthUrl + '?phone=' + user.phone
  else if user && user.email
    - facebookAuthUrl = facebookAuthUrl + '?email=' + user.email
  if user && user.verificationKey
    - facebookAuthUrl = facebookAuthUrl + '&k=' + user.verificationKey

  .row.social-auth
    .social-auth-btn.col-md-6
      a.btn.btn-primary.btn-lg(href="#{facebookAuthUrl}")
        i.icon-facebook
        span.text-after-icon Facebook

  .row
    .col-md-6
      .or-divider
  .row
    .col-md-6
      block auth
      
