!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body.pray-page

    div.swipe(id='slider')
      div.swipe-wrap
        each slide in slides
          div(class='#{slide.source}')
            div.swipe-content
              h1 #{slide.title}
              section.details !{slide.content}

    include ../includes/foot

    script(type='text/javascript')
      window.mySwipe = new Swipe(document.getElementById('slider'), {
        startSlide: 1,
        speed: 400,
        auto: 10000,
        continuous: true,
        disableScroll: false,
        stopPropagation: false,
        callback: function(index, elem) {},
        transitionEnd: function(index, elem) {}
      });
      var pinching = false;
      $('.pray-page').hammer().on("pinchin", ".swipe", function(event) {
          pinching = true;
      });
      $('.pray-page').hammer().on("release", ".swipe", function(event) {
          if(pinching){ 
            window.location = '/';
            pinching = false; 
          }
      });
    
