extends auth

block auth
  h2 Join Yookhomai
  br
  form.signup.form-horizontal(action="/users", method="post")

    .input-group.input-group-lg.required
      input#name(type='text', name="name", class='form-control', placeholder='Display name', value=user.name)

    br
    .input-group.input-group-lg.required
      input#email(type='text', name="email", class='form-control', placeholder='Email', value=user.email)

    br
    .input-group.input-group-lg.required
      input#phone(type='text', name="phone", class='form-control', placeholder='SMS enabled phone number...', value=user.phone)

    br
    .input-group.input-group-lg.required
      input#password(type='password', name="password", class='form-control', placeholder='Password')

    br
          
    .input-group.input-group-lg
      button.btn.btn-primary(type='submit') Sign up

    br

    .input-group.input-group-lg
      a.signin(href="/forgot") I already have an account