extends auth

block auth
  form.signin(action="/users/session", method="post")
    p.error= message
    .input-group.input-group-lg
      input#email(type='text', name="email", class='form-control', placeholder='Email')

    br
    
    .input-group.input-group-lg
      input#password(type='password', name="password", class='form-control', placeholder='Password')

    br
      
    .input-group.input-group-lg
      button.btn.btn-primary(type='submit') Sign in
      &nbsp;
      | or&nbsp;
      a.show-signup(href="/signup") Sign up
