h1 {
    text-align:left;
}

.input-group{
  width: 100%;
}

ul.articles{
  list-style: none;
  padding: 0;
  overflow: scroll;
}
ul.articles li{
  padding: 0;
  margin: 0;
}
ul.articles li .card{
  margin: 0.2rem;
  padding: 15px;
  overflow: hidden;

background: -moz-linear-gradient(left,  rgba(193,255,218,0.13) 0%, rgba(214,252,255,0.25) 48%, rgba(45,220,255,0.39) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(193,255,218,0.13)), color-stop(48%,rgba(214,252,255,0.25)), color-stop(100%,rgba(45,220,255,0.39))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(193,255,218,0.13) 0%,rgba(214,252,255,0.25) 48%,rgba(45,220,255,0.39) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(193,255,218,0.13) 0%,rgba(214,252,255,0.25) 48%,rgba(45,220,255,0.39) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(193,255,218,0.13) 0%,rgba(214,252,255,0.25) 48%,rgba(45,220,255,0.39) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(193,255,218,0.13) 0%,rgba(214,252,255,0.25) 48%,rgba(45,220,255,0.39) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21c1ffda', endColorstr='#632ddcff',GradientType=1 ); /* IE6-9 */

}
.card h2{
  margin-top: 0;
  overflow: hidden;
  color: #444;
}
.card .card-header{
  padding: 0;
}
.card .card-body{
  height: 195px;
  overflow-y: auto;
  font-size: 1.1em;
  color: #999;
}
.card .card-footer{
  margin-top: 10px;
  padding-top: 0px;
  color: #aaa;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
.card .card-footer .icon-button{
  font-size: 1.5rem;
  color: #666;
}
.card .card-footer .icon-button:hover{
  color: #333;
  font-size: 2rem;
}

.card .input-inline{ 
  border: none; 
  background: transparent;
  color: inherit;
  width: 100%;
}
.card .input-inline:focus{
  border: none;
  color: #222;
}
.card.answered .input-inline{
  text-decoration: line-through;
  color: #36AD3C;
}
.card.unanswered .input-inline{
  text-decoration: line-through;
  color: #9C0000;
}