
.swipe {
  background: #222 url("/img/slides-bg.png") repeat;
  font: 14px/20px Helvetica, Arial, sans-serif;
  text-align: left;

  width: 100%;
  height: 100%;
  padding: 3.5em 5em;
}

.swipe-content{
  width: 95%;
  overflow: hidden;

}
.swipe-content h3{
  font-size: 4.0em;
  text-shadow: 0 -2px 1px #000;
  -webkit-font-smoothing: antialiased;
  color: #ccc;
  line-height: 1.5em;
}
.swipe-content p{
  font-size: 2.0em;
  line-height: 1.2em;
  color: #cdcdcd!important;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
}

#console {
  font-size: 12px;
  font-family:"Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: #999;
  line-height: 18px;
  margin-top: 20px;
  max-height: 150px;
  overflow: auto;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  top: -50px;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}