<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<div class="row">
		<ul class="articles unstyled">
			<li class="col-md-4" data-ng-repeat="article in articles">
				<div class="card">
					<div class="card-header">
						<h2><a data-ng-href="#!/p/{{article._id}}">{{article.title}}</a></h2>
					</div>
					<div class="card-body" ng-bind-html-unsafe="article.content"></div>
					<div class="card-footer">
						<span>{{article.created | date:'medium'}}</span> /
						<span>{{article.user.name}}</span> /
						<span>
							<div class="btn-group dropup">
							  <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
							    <i class="icon-cog"></i>
							  </button>
							  <ul role="menu" class="dropdown-menu pull-right">
			            <li data-ng-show="global.user._id == article.user._id" ><a href="/#!/p/{{article._id}}/edit"><i class="icon-edit"></i> Edit</a></li>
			            <li class="divider"></li>
			            <li data-ng-show="global.user._id == article.user._id" ><a data-ng-click="remove(article)"><i class="icon-remove-circle"></i>  Remove</a></li>
			          </ul>
							</div>
						</span>
			     </div>
			  </div>
			</li>
		</ul>
		<h1 class="col-md-12" data-ng-hide="!articles || articles.length">No prayers yet. <br> It's easy to <a href="/#!/p/create">Create One</a>.</h1>
	</div>
</section>